.infoMain{
  margin-top: 10px;
  border: 2px solid rgb(0, 35, 102);
}

.infoHeading{
  background-color: rgb(0, 35, 102);
  color: white;
  padding-left: 20px; 
}

.infoData{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


.heading{
  font-weight: bold;
  font-size: 20px;
}

.value{
  font-size: 20px;
}