.Main{
  margin-top: 10px;
  border: 2px solid #0A1828;
}

.Heading{
  background-color: #0A1828;
  color: #BFA181;
  padding-left: 20px; 
}

.Data{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Data2{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Data3{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Button{
  padding: 10px;
  cursor: pointer;
  background-color: #0A1828;
  color: #BFA181;
  border-radius: 15px;
  border: 2px solid white;
  margin-left: 5px;
  font-weight: bold;
}

.Button:hover{
  background-color: #BFA181;
  color: #0A1828;
  border: 2px solid #0A1828;
  transition: 0.5s ease-in-out;
  transform: scale(1.05);
}

.Inputs{
  display: flex;
  flex-direction: row;
}

.heading{
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

.value{
  font-size: 20px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 25px; 
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.loginButton{
  width: 52%;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  background-color: rgb(0, 18, 52);
  color: #BFA181;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.inputFields{
  width: 50%;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 0.3rem;
  border: 1px solid #BFA181;
}

.span{
  font-size: 12px;
  padding: 3px;
  color: red;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #0A1828;
  color: #BFA181;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #BFA181;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #0A1828;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #0A1828;
}
