.courseMainView{
  margin-top: 10px;
  border: 2px solid rgb(0, 35, 102);
}

.viewCoursesHeading{
  background-color: rgb(0, 35, 102);
  color: white;
  padding-left: 20px;
}

.viewCoursesData{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}